@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, 'Kosugi Maru',sans-serif;
  //font-family: 'Kosugi Maru', sans-serif;
}

::-webkit-scrollbar {width: 5px;height: 5px;background-color: transparent;}
::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 3px;}
::-webkit-scrollbar-track {background-color: transparent;}

::selection {
  background-color: #000;
  color: #fff;
}
:is(h1,h2,h3,h4,h5,h6,a)::selection {
  text-shadow: 0px 0px 5px #fff;
}
a::selection {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
